.DS_Store
node_modules/
**/*.log
serviceAccountKey.json

.vscode

scraper/dest/**/*
scraper/.env

web/.next/
web/dist
web/ui-debug.log
web/src/app/.next/

**/yarn-error.log
# Firebase cache
.firebase
