.DS_Store
node_modules/
firestore-debug.log
serviceAccountKey.json

scraper/dest/**/*
scraper/.env

web/.next/
web/next.config.js
web/dist
web/ui-debug.log

**/yarn-error.log
# Firebase cache
.firebase
