@import 'init';

main {
    padding: 220px 20px 40px;
}

@media screen and (max-width: 640px) {
    main {
        padding-left: 10px;
        padding-right: 10px;
    }
}

a:link,
a:visited,
a:hover,
a:active {
    color: #22aaff;
}
